
.widget {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 18px;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    background: #424242 none repeat scroll 0 0;

}
.widget > ul {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 25px 20px;
    width: 100%;
    box-sizing: border-box;
}
.widget > li {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.widget li > a {
    font-size: 14px;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    font-weight: 400;
    color: #797979;
    vertical-align: top;
    box-sizing: border-box;
}
.socials > li {
    margin-bottom: 10px;
}
.socials > li a {
    padding: 3px 10px;
    width: 100%;
    box-sizing: border-box;
}

.socials > li a span {
    font-size: 13px;
    color: #fff;
}
.socials > li a ins {
    float: right;
    font-size: 12px;
    margin-top: 4px;
    text-decoration: none;
    color: #fff;
}
.widgetTitle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 20px 20px 10px;
    position: relative;
    text-transform: capitalize;
    width: 100%;
    box-sizing: border-box;
}
.widgetTitle::before {
    bottom: 0;
    content: "";
    height: 2px;
    left: 20px;
    position: absolute;
    width: 20%;
    background-color:#088dcd;
}
.followers {
    max-height: 384px;
    overflow: hidden;
}
.followers:hover {
    overflow-y:auto;
}
.followers > li figure {
    display: inline-block;
    margin-bottom: 0;
    max-width: 45px;
    min-width: 45px;
    vertical-align: middle;
    width: 45px;
    height: 45px;

}
.followers > li figure img {
    height: 100%;
    border-radius: 100%;
    border: 1px solid #ffffff;
}

.friend_meta {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    width: 72%;
}
.friend_meta > h4 {
    display: inline-block;
    font-size: 13.5px;
    margin-bottom: 0;
    width: 100%;
}
.friend_meta > a {
    display: inline-block;
    font-size: 12px;
    position: relative;
    color: #088dcd;
}
.friend_meta > h4 a {
    color: white;
}