.timeLine {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #505050 none repeat scroll 0 0;
    box-sizing: border-box;
}
section {
    float: left;
    position: relative;
    width: 100%;
}
